#background, .h-gap {
	fill: white;
}

#question, .proposal-ref {
	fill: #333;
	font-size: 18px;
	font-family: sans-serif;
}

#error {
	fill: red;
}

.proposal-ref circle {
	fill: blue;
}

.proposal-ref text {
	fill: white;
}

#median_line {
	stroke-dasharray: 5, 5;
	stroke: black;
	stroke-width: 2;
}

.svg-tooltip {
	cursor: default;
}
